services:
  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443  # Adicione a porta 443 para HTTPS
    volumes:
      - ${DIR}./nginx.conf:/etc/nginx/nginx.conf
      - ${DIR}./ssl/:/etc/letsencrypt/  # Monta apenas a pasta do domínio
      - ${DIR}./letsencrypt:/var/www/letsencrypt  # Webroot para validação
    depends_on:
      - site
      # - react
  site:
    build: site/
    entrypoint: ["gunicorn", "-w1", "--reload", "--timeout=60", "-b:5000", "--access-logfile=-", "--error-logfile=-", "app:create_app()"]
    restart: unless-stopped
    env_file: .env
    environment:
      - SERVER_NAME=tabelionatonovogama.com.br
    volumes:
      - ${DIR}./site/app:/flask/app
      - ${DIR}./site/static:/flask/static
      - ${DIR}./site/templates:/flask/templates
      - ${DIR}./certs:/certs
    depends_on:
      - mongo
  api:
    build: api/
    volumes:
      - ${DIR}./api/api:/api
    env_file: .env
  mongo:
    image: mongo:7
    restart: unless-stopped
    env_file: .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    ports:
      - 27017:27017
    volumes:
      - ${DIR}./db:/data/db
  backup:
    build: bkp/
    environment:
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_AUTH_DB=${MONGO_AUTH_DB}
      - EMAIL=${MAIL_ADMIN}
      - SMTP_SERVER=${MAIL_SERVER}
      - SMTP_PORT=${MAIL_PORT}
      - SMTP_USER=${MAIL_USERNAME}
      - SMTP_PASS=${MAIL_PASSWORD}
      - RCLONE_CONFIG_VULTR_TYPE=s3
      - RCLONE_CONFIG_VULTR_PROVIDER=Other
      - RCLONE_CONFIG_VULTR_ACCESS_KEY_ID=${S3_ID}
      - RCLONE_CONFIG_VULTR_SECRET_ACCESS_KEY=${S3_KEY}
      - RCLONE_CONFIG_VULTR_ENDPOINT=${S3_HOST}
      - RCLONE_CONFIG_VULTR_ACL=private
    volumes:
      - ./dump:/dump                       # Onde o backup será gerado
    env_file: .env                         # Suas variáveis de ambiente
    depends_on:
      - mongo
  # mongo-express:
  #   image: mongo-express
  #   restart: unless-stopped
  #   ports:
  #     - 8081:8081
  #   environment:
  #     ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_USER}
  #     ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_PASS}
  #     ME_CONFIG_MONGODB_SERVER: mongo
  #     ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_EXPRESS_USER}
  #     ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_EXPRESS_PASS}

