/* Modal attend */

.finance_balance_itens .user_balance_amount .item {
    border: 2px solid var(--first-color-dark);
    padding: 10px;
    border-radius: 2em / 5em;
    margin: 10px;
}


.attend_info_body {
    padding: 2rem;
}  

.attend_modal_body > h4 {
    margin: 24px;
}

.attend_modal_hearder {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.attend_modal_hearder > div {
    display: flex;
    justify-content: space-evenly;
    margin: 4px;
}

.attend_modal_content {
    padding: 12px;
}

.attend_modal_payment {
    display: flex;
    justify-content: space-evenly;
    margin: 8px;
}


.attend_modal_recibo {
    padding: 16px;
    margin: 30px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.attend_modal_recibo_header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.attend_modal_recibo .attend_modal_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attend_modal_recibo .modal_end {
    font-size: 0.79rem;
}

.attend_modal_recibo img {
    max-width: 260px;
}

.attend_modal_recibo table {
    margin: 12px auto;
}


.attend_modal_payment .item {
    border: 2px solid var(--first-color-dark);
    padding: 10px;
    border-radius: 2em / 5em;
    margin: 10px;
}


#attend_modal_print .info_attend_print_header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* gap: 8px; */
    justify-content: center;
    align-items: center;
    /* padding: 4px; */
    margin: 48px 48px 24px 48px;
    border-radius: 16px;
    border: 1px solid black;
}

#attend_modal_print .info_attend_print_pag {
    display: grid;
    grid-template-columns: 5fr 1fr;
    /* gap: 8px; */
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin: 0px 24px;
    border-radius: 16px;
    border: 1px solid black;
}
