<div style="width: 840px; height: 595px;display: grid; grid-template-columns: 1fr 1fr;">
    <div style="border-right: 1px solid black;" class="container">
        <div style="display: grid; grid-template-columns: 1fr 5fr; margin-top:8px; height: 40px;border-bottom: 1px solid black;">
            <div>
                <img style="width: 150px;" src="{{ url_for('static', filename='img/logo.jpg') }}" alt="NG">
            </div>
            <div>
                <p style="font-size: 10.5px;">
                    <b>Registro de Imóveis de Cidade Ocidental - Goiás</b><br>
                    <span style="font-size: 8px;">
                        MÁRCIO &nbsp;SILVA&nbsp;&nbsp;FERNANDES&nbsp;&nbsp;-&nbsp;Oficial&nbsp;Registrador
                    </span>
                </p>
            </div>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: baseline; height: 20px;border-bottom: 1px solid black;">
            <p style="font-size: 11.8px;">
                Prot: <b>${i.prot}</b>
            </p>
            <p style="font-size: 9px;">
                ${i.nature}
            </p>
            
            <p style="font-size: 11.8px;">
                <b>${new Date(i.timestamp * 1000).toLocaleString('default', { dateStyle: 'short', timeZone: 'America/Sao_Paulo' })}</b>
            </p>
            
        </div>
        <p style="font-size: 11.8px;">
            <b>Apresentante: ${attend.name}</b>
        </p>
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 400px;border-bottom: 1px solid black;">

            ${doc_recebido.length > 0 ? `
                <b style="font-size: 15px;">Documentos&nbsp;&nbsp;entregues</b>
                <table style="font-size: 9.2px; width: 400px;">
                    <thead>
                        <tr style="border-bottom: 0.8px solid black;">
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        ${doc_recebido.map(s => `
                            <tr style="border-bottom: 0.359px solid black;">
                                <td>${new Date(s.timestamp * 1000).toLocaleString('default', { dateStyle: 'short', timeZone: 'America/Sao_Paulo' })}</td>
                                <td>${s.name}</td>
                                <td>${s.copia ? 'Cópia' : 'Original'}</td>
                            </tr>
                        `).join('')}
                    </tbody>
                </table>`
             : ''}
             ${doc_faltante.length > 0 ? `
                <b style="font-size: 15px; margin-top: 8px;">Documentos&nbsp;&nbsp;faltantes</b>
                <table style="font-size: 9.2px; width: 400px;">
                    <thead>
                        <tr style="border-bottom: 0.8px solid black;">
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${doc_faltante.map(f => `
                            <tr style="border-bottom: 0.5px solid black;">
                                <td>${f.name}</td>
                            </tr>
                        `).join('')}
                    </tbody>
                </table>`
             : ''}
        </div>
        <div style="height: 8px; font-size: 6.6px;">
            <b>SQ 12, QD 11, Lote 56, Centro / (61) 3084-6911 - 98540-3963 / faleconosco@tabelionatonovogama.com.br  /  https://tabelionatonovogama.com.br</b>
        </div>
        <div style="height: 80px;">
            <p style="text-align: justify; font-size: 8px; margin-top: 3px;">
                Eu, ${attend.cred ? `<b>${attend.cred.name}</b>, portador(a) do CPF de nº ${mask_cpfcnpj(attend.cred.cpfcnpj)}, neste ato representando <b>${attend.name}</b> - ${mask_cpfcnpj(attend.cpf)},` : `<b>${attend.name}</b>, portador(a) do CPF <b>${mask_cpfcnpj(attend.cpf)}</b>,`} na qualidade de apresentante do protocolo de nº <b>${i.prot}</b>, 
                atesto que entreguei no dia ${new Date(i.timestamp * 1000).toLocaleString('default', { dateStyle: 'short', timeZone: 'America/Sao_Paulo' })} os documentos listados acima, os quais foram digitalizados e devolvidos. 
                Fui informado que os documentos entregues serão analisados e poderão ser apresentadas exigências para que o registro seja concluído.<br><br>
                <b style="text-align: start; font-size: 7.5px;">
                    Assinatura:_____________________________________________________________________________________________<br>
                </b>
            </p>
        </div>
    </div>
    <div class="container">
        <div style="display: grid; grid-template-columns: 1fr 5fr; margin-top:8px; height: 40px;border-bottom: 1px solid black;">
            <div>
                <img style="width: 150px;" src="{{ url_for('static', filename='img/logo.jpg') }}" alt="NG">
            </div>
            <div>
                <p style="font-size: 10.5px;">
                    <b>Registro de Imóveis de Cidade Ocidental - Goiás</b><br>
                    <span style="font-size: 8px;">
                        MÁRCIO &nbsp;SILVA&nbsp;&nbsp;FERNANDES&nbsp;&nbsp;-&nbsp;Oficial&nbsp;Registrador
                    </span>
                </p>
            </div>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: baseline; height: 20px;border-bottom: 1px solid black;">
            <p style="font-size: 11.8px;">
                Prot: <b>${i.prot}</b>
            </p>
            <p style="font-size: 9px;">
                ${i.nature}
            </p>
            
            <p style="font-size: 11.8px;">
                <b>${new Date(i.timestamp * 1000).toLocaleString('default', { dateStyle: 'short', timeZone: 'America/Sao_Paulo' })}</b>
            </p>
            
        </div>
        <p style="font-size: 11.8px;">
            <b>Apresentante: ${attend.name}</b>
        </p>
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 400px;border-bottom: 1px solid black;">

            ${doc_recebido.length > 0 ? `
                <b style="font-size: 15px;">Documentos&nbsp;&nbsp;entregues</b>
                <table style="font-size: 9.2px; width: 400px;">
                    <thead>
                        <tr style="border-bottom: 0.8px solid black;">
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        ${doc_recebido.map(s => `
                            <tr style="border-bottom: 0.359px solid black;">
                                <td>${new Date(s.timestamp * 1000).toLocaleString('default', { dateStyle: 'short', timeZone: 'America/Sao_Paulo' })}</td>
                                <td>${s.name}</td>
                                <td>${s.copia ? 'Cópia' : 'Original'}</td>
                            </tr>
                        `).join('')}
                    </tbody>
                </table>`
             : ''}
             ${doc_faltante.length > 0 ? `
                <b style="font-size: 15px; margin-top: 8px;">Documentos&nbsp;&nbsp;faltantes</b>
                <table style="font-size: 9.2px; width: 400px;">
                    <thead>
                        <tr style="border-bottom: 0.8px solid black;">
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${doc_faltante.map(s => `
                            <tr style="border-bottom: 0.5px solid black;">
                                <td>${s.name}</td>
                            </tr>
                        `).join('')}
                    </tbody>
                </table>`
             : ''}
        </div>
        <div style="height: 10px; font-size: 6.6px;">
            <b>SQ 12, QD 11, Lote 56, Centro / (61) 3084-6911 - 98540-3963 / faleconosco@cartorionovogama.com.br  /  https://tabelionatonovogama.com.br </b>
        </div>
        <div style="height: 80px;">
            <p style="text-align: justify; font-size: 8px; margin-top: 3px;">
                Eu, ${attend.cred ? `<b>${attend.cred.name}</b>, portador(a) do CPF de nº ${mask_cpfcnpj(attend.cred.cpfcnpj)}, neste ato representando <b>${attend.name}</b> - ${mask_cpfcnpj(attend.cpf)},` : `<b>${attend.name}</b>, portador(a) do CPF <b>${mask_cpfcnpj(attend.cpf)}</b>,`} na qualidade de apresentante do protocolo de nº <b>${i.prot}</b>, 
                atesto que entreguei no dia ${new Date(i.timestamp * 1000).toLocaleString('default', { dateStyle: 'short', timeZone: 'America/Sao_Paulo' })} os documentos listados acima, os quais foram digitalizados e devolvidos. 
                Fui informado que os documentos entregues serão analisados e poderão ser apresentadas exigências para que o registro seja concluído.<br><br>
                <b style="text-align: start; font-size: 7.5px;">
                    Assinatura:_____________________________________________________________________________________________<br>
                </b>
            </p>
        </div>
    </div>
</div>