<div class="service" type="cert" value="${group}">
    <h5><b style="color:var(--first-color);">${all_services[type]['name']} </b>|<b> ${group.toUpperCase()}</b></h5>
    <div class="row g-1 service-info">
        <div class="col-md-2">
            <div class="form-floating">
                <input type="text" class="form-control form-control-sm" name="type" value="${all_services[type]['name']}" disabled>
                <label for="type">Tipo</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating">
                <input tabindex="0" maxlength="17" type="text" class="form-control form-control-sm cod" name="cod" onkeyup="mask_upcase(this)" placeholder="">
                <label for="cod">Código</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating">
                <input tabindex="0" type="text" name="val" onkeyup="mask_value(this); next_input_value(this); calc_services()" class="form-control form-control-sm" placeholder="">
                <label for="val">Valor</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating">
                <input tabindex="0" onkeyup="mask_value(this); calc_services()" type="text" name="val_pg" class="form-control form-control-sm" placeholder="">
                <label for="val_pg">Devido</label>
            </div>
        </div>
        <div class="col-md-1 mx-2 d-flex align-items-center">
            <div class="form-check form-check-inline">
                <input tabindex="0" class="form-check-input" type="checkbox" name="p" value="">
                <label class="form-check-label" for="p">PMCMV</label>
            </div>
        </div>
        <div class="col-md-1 d-flex align-items-center">            
            <div class="btn-group btn-group-sm mx-2">
                <button tabindex="-1" type="button" title="Título" class="btn btn-sm ms-2 btn-outline-secondary" name="title" onclick="attend_service_info(this)"><i class="fab fa-sm fa-tumblr"></i></button>
                <button tabindex="-1" type="button" title="Anotações" class="btn btn-sm ms-2 btn-outline-primary" name="comment" onclick="attend_service_info(this)"><i class="far fa-sm fa-comments"></i></button>
            
            <button tabindex="-1" type="button" class="btn btn-sm ms-2 btn-outline-danger del-service" onclick="this.closest('.service').remove(); calc_services(); sec_attend.querySelector('.cur_attend_content').style.display = 'grid';"><i class="fas fa-sm fa-trash"></i></button>
            </div>
        </div>
        <div class="col-md-12 form-floating">
            <input onchange="add_service_docs(this, ${service_count})" class="form-control form-control-sm" placeholder="" type="text" list="nature_${service_count}" name="natureza"/>
            <label for="natureza">Natureza</label>
            <datalist id="nature_${service_count}" >
                ${ Object.keys(all_natures[group][type]).map(n => `<option data-value="${ all_natures[group][type][n].id }" value="${ n }"></option>`).join('') }
            </datalist>
        </div>
    </div>
    <div class="col-md-12 service-docs">
        <div class="container-flush">
            <div class="accordion accordion-flush container-flush text-center" id="attend_nature_docs_${service_count}"></div>
        </div>
    </div>
</div>