<!-- <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start li_pay">
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <span name="type" value="${ p['type'] }">
            <strong>${ all_payments[p['type']] }</strong>
        </span>
      </div>
      <span name="value" value="${ p['value'] }">
          ${ p['value'].toLocaleString('pt-BR', currency_br) }
      </span>
    </div>
    <button type="button" class="btn btn-sm ms-2 btn-outline-danger" onclick="this.closest('.li_pay').remove(); calc_services()"><i class="fas fa-sm fa-trash"></i></button>
</li> -->