<div class="modal fade" id="casamento" aria-hidden="true" data-bs-backdrop="true" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            

            <div id="casamento-body" class="modal-body">
                <div class="d-flex m-1 justify-content-between">
                    <div>
                    </div>
                    <div>
                        <h2 class="m-1">Casamento Civil</h2>
                    </div>
                    <div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                </div>
                <div class="container">
                    <div class="section-title">
                        <i  data-aos="fade-up" class="fas fa-venus-mars m-4" style="color: #e8a403d9; font-size: 4em;"></i>
                        <h3 class="p-2" data-aos="fade-up" style="color: #cc0000;">Aviso importante</h3>
                        <div class="alert alert-danger" role="alert">
                            <ul class="border" >
                                <li>Necessário apresentar a <strong>CERTIDÃO ATUALIZADA</strong> (solteiros, divorciados e viúvos), emitida há no máximo <strong>06 meses</strong>, conforme Artigo 630 do Código de Normas do Tribunal de Justiça de Goiás.</li>
                                <li>Para dar entrada no processo é necessário realizar o agendamento via <a  href="https://api.whatsapp.com/send?phone=556130846911&text=Gostaria%20de%20Agendar%20meu%20Casamento&lang=pt_br"  target="_blank" role="button">WhatsApp (61) 3084-6911.</a></li>
                                <li>Necessário a presença do casal e das 02 testemunhas para dar entrada no processo e no dia da celebração.</li>
                                <li>Não será possível iniciar o processo sem a documentação <strong>completa</strong>.</li>
                                <li>Não é aceito carteira de Trabalho como documento de identificação.</li>
                                <li>A celebração do casamento ocorrerá em no mínimo 16 dias após iniciar o processo.</li>
                            </ul>
                            
                        </div>
                        <h4 class="p-2">Documentos necessários para a habilitação de casamento</h4>
                        <ul>
                            <li>RG e CPF ou CNH dos noivos <strong>(Original e cópia)</strong></li>
                            <li>Comprovante de Residência <strong>em nome de um dos noivos</strong> (original e cópia)</li>
                            <li>Caso não possua comprovante de residência,<u> apresentar declaração</u>. <strong>Reconhecer firma do proprietário.</strong></li>
                            <li>02 testemunhas, maiores de idade, portando RG e CPF <strong>ou</strong> CNH <strong>(original e cópia)</strong></li>
                        </ul>
                        <h5 class="p-2">Documento exclusivo para cada noivo:</h5>

                        <p class="p-2">
                        <a class="btn btn-sm btn-outline-primary m-2" data-bs-toggle="collapse" href="#collapseSolt" role="button" aria-expanded="false">
                            Solteiros
                        </a>
                        <a class="btn btn-sm btn-outline-primary m-2" data-bs-toggle="collapse" href="#collapseDiv" role="button" aria-expanded="false">
                            Divorciados
                        </a>
                        <a class="btn btn-sm btn-outline-primary m-2" data-bs-toggle="collapse" href="#collapseViu" role="button" aria-expanded="false">
                            Viúvos
                        </a>
                        <a class="btn btn-sm btn-outline-primary m-2" data-bs-toggle="collapse" href="#collapseEst" role="button" aria-expanded="false">
                            Estrangeiros
                        </a>
                        </p>
                        <div class="collapse accordion-collapse" id="collapseSolt">
                            <div class="card card-body">
                                <ul>
                                <li>Certidão de nascimento <u>ATUALIZADA</u> <strong>(Original)</strong></li>
                                </ul>
                            </div>
                        </div>
                        <div class="collapse" id="collapseDiv">
                            <div class="card card-body">
                                <ul>
                                    <li>Certidão de casamento ATUALIZADA com averbação do divórcio.<strong>(Original)</strong></li>
                                    <li>Cópia da inicial, sentença com trânsito em julgado ou da escritura de divórcio com a partilha de bens.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="collapse" id="collapseViu">
                            <div class="card card-body">
                                <ul>
                                    <li>Certidão de casamento ATUALIZADA com averbação do divórcio.<strong>(Original)</strong></li>
                                    <li>Certidão de óbito do cônjuge falecido. (cópia)</li>
                                    <li>Cópia da documentação que comprove a realização de inventário e partilha dos bens aos herdeiros do falecido.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="collapse" id="collapseEst">
                            <div class="card card-body">
                                <ul>
                                    <li>RNE e Passaporte com visto válido. <strong>(original e cópia)</strong></li>
                                    <li>Certidão ATUALIZADA traduzida e registrada na serventia de títulos e documentos (<u>alguns países da América do Sul possuem uma certidão de solteiro e uma certidão de nascimento</u>). <strong>(original)</strong> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>