/* Blacklist */

.settings_blacklist .blacklist_new {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 36px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.settings_blacklist .blacklist_new .form-floating {
    margin: 0 4px;
}

.settings_blacklist .blacklist_list {
    display: flex;
    justify-content: center;
    max-width: 800px;
}