<form id="new_attend" class="attend_home">

  <h2>{{ _('Attendance') }}</h2>
  <div class="new_attend row g-1">
    <div class="form-floating col-md-3">
      <input maxlength="18" type="text" onkeyup="attend_start_enter(event)" class="form-control" id="attend_cpf" name="attend_cpf" placeholder="" required>
      <label for="attend_cpf">{{ _('CPF / CNPJ') }}</label>
    </div>
    <div class="form-floating col-md-7">
      <input type="name" class="form-control" id="attend_name" name="attend_name" placeholder="" disabled>
      <label for="attend_name">{{ _('Full name / Razão Social') }}</label>
    </div>
    <div class="col-md-1">
      <button type="button" name="btn"  id="attend_start" class="btn btn-success text-center m-3" onclick="create_attend()">
        <i class="fas fa-sm fa-play-circle"></i>
      </button>
    </div>
  </div>
  <!-- <div class="list_attend">
    <div id="attend_list_pagination"></div>
    <div class="attend_list">
      <table id="attend_list_table" class="table table-sm table-hover table-responsive"></table>
    </div>
    <div id="attend_list_loading"></div>
    <div id="attend_list_error"></div>
  </div> -->
  <div class="filter_list_attend">
    <div class="row g-1 justify-content-center">
      <div class="col-md-6">
        <div class="form-floating">
          <input type="date" class="form-control" id="date_start" name="date_start" placeholder="">
          <label for="date_start">{{ _('Date start') }}</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input type="date" class="form-control" id="date_end" name="date_end" placeholder="">
          <label for="date_end">{{ _('Date end') }}</label>
        </div>
      </div>
    </div>
    <div>
      <div class="btn btn-sm btn-outline-primary" name="btn" onclick="filter_attend(this)"><i class="fas fa-sm fa-search"></i></div>
    </div>
  </div>
  <div>
    <div class="content_attend_list">
      <button type="button" class="btn btn-sm btn-outline-dark" id="attend_list_loading" onclick="filter_attend(this)"><i class="fas fa-sm fa-sync"></i></button>
      <div id="attend_list_loading"></div>
      <div id="attend_list_error"></div>
      <div id="attend_list_pagination"></div>
      <div class="attend_list">
        <table id="attend_list_table" class="table table-sm table-hover table-responsive"></table>
      </div>
    </div>
  </div>
  <!-- <div class="accordion-item accordion-border">
    <h2 class="accordion-header my-3">
        <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#acc_cur_func" aria-expanded="false" aria-controls="acc_cur_func">
            <h2 class="accordion_title">Caixa</h2>
        </button>
    </h2>
    <div id="acc_cur_func" class="accordion-collapse collapse show" data-bs-parent="#finance_balance_itens">
        <div class="accordion-body">
            <div class="attend_amount"></div>
            <br><h4>Atendimentos</h4>

        </div>
    </div>
  </div> -->
</form>
  
<form id="bookings" class="attend_booking_content" hidden>
  <!-- <h2>{{ _('Bookings') }}</h2>
  <div class="">
  </div> -->
</form>

<form id="cur_attend" hidden>
</form>
