<div class="modal fade" id="pixnew" aria-hidden="true" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-outline-primary" data-bs-target="#pixlist" data-bs-toggle="modal" data-bs-dismiss="modal">Listar</button>
                <button type="button" class="btn-sm btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <p class="fw-bold fs-3 mx-auto text-center">Gerar Pix</p>
            <div id="pixnew-body" class="modal-body">
                <div class="spinner-border text-dark" role="status"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pixlist" aria-hidden="true" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="d-flex m-3 justify-content-end">
                <div>
                    <button type="button" class="btn-sm btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
            </div>
            <div id="pixlist-body" class="modal-body">
                <div class="spinner-border text-dark" role="status"></div>
            </div>
        </div>
    </div>
</div>
