{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="ps://httcdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css"> -->
    <style>
        {% include "requerimento/req.css" %}
        {% include "landingpage.css" %}
    </style>
{% endblock %}

{% block content %}
    {% if popups %}
        {% for popup in popups %}
            {% include 'popup/popup_modal.html' %}
        {% endfor %}
    {% endif %}

    {% if resetform %}
        {% include 'reset_pwd.html' %}
    {% endif %}

    {% if message %}
        <div class="container mt-5">
            <section class="text-center">
                <h3>{{ message }}</h3>
            </section>
        </div>
    {% else %}
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
            <div class="container" data-aos="fade-in">
                <!-- <h1>Tabelionato de Notas e Protesto de Títulos</h1>
                <h2>Comarca de Novo Gama-GO</h2> -->
            </div>
        </section>
        <!-- <section id="why-us" class="why-us">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5" data-aos="fade-up">
                        <div class="content text-center">
                            <h3>REQUERIMENTOS ELETRÔNICOS</h3>
                            <p>
                                Solicite seu cadastro e tenha acesso ao atendimento digital exclusivo, é rápido e fácil!
                            </p>
                            <div class="text-center">
                                <a class="more-btn" data-bs-toggle="modal" href="#requerimento" role="button">Solicitar &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 d-flex">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-xl-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="fab fa-whatsapp" style="color: #1b1185; font-weight:900;"></i>
                                        <h4>Atendimento virtual</h4>
                                        <p>
                                            Tire suas dúvidas pelo WhatsApp 
                                        </p>
                                        <a href="https://api.whatsapp.com/send?phone=556136267942&text=Gostaria%20de%20iniciar%20um%20atendimento&lang=pt_br" class="btn btn-sm btn-outline-success" target="_blank">Conversar &raquo;</a>
                                    </div>
                                </div>
                                <div class="col-xl-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="fas fa-search" style="color: #1b1185;"></i>
                                        <h4>Consultar atendimento</h4>
                                        <p>
                                            Verifique o status do seu pedido
                                        </p>
                                        <a class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#auth_modal" role="button">Acessar &raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section id="about" class="about">
            <div class="container-fluid">
      
              <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                  <img src="{{ url_for('static', filename='img/about.png') }}" class="img-fluid" alt="...">
                </div>
                <!-- <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <p style="text-align: justify;">
                    ​</p>
                    <p style="text-align: justify;">
                    ​</p>
                    <p style="text-align: justify;">
                    ​</p>
                    <p>
                    
                    </p>
                </div> -->
                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h2>Bem-vindo ao nosso site!</h2>
      
                  <div class="icon-box">
                    <div class="icon"><i class="fas fa-user-lock"></i></i></div>
                    <h4 class="title"><a href="">Qualidade no seu atendimento</a></h4>
                    <p class="description">
                        Aqui, você encontra todos os serviços cartoriais de forma simples, ágil e segura. Nossa missão é oferecer um atendimento de qualidade, facilitando seus processos e garantindo praticidade no seu dia a dia.
                    </p>
                  </div>
      
                  <div class="icon-box">
                    <div class="icon"><i class="fas fa-street-view"></i></div>
                    <h4 class="title"><a href="">Eficiência e transparência</a></h4>
                    <p class="description">
                        Navegue pelo site e descubra como podemos ajudar você com eficiência e transparência. Estamos preparados para atender às suas necessidades com o máximo de profissionalismo e cordialidade.
                    </p>
                  </div>
      
                  <div class="icon-box">
                    <div class="icon"><i class="far fa-list-alt"></i></div>
                    <h4 class="title"><a href="">Segurança é nossa prioridade</a></h4>
                    <p class="description">
                        A privacidade e a segurança dos seus dados são nossas prioridades. Atuamos em total conformidade com a <b>Lei Geral de Proteção de Dados (LGPD)</b>, garantindo que suas informações sejam tratadas com sigilo e utilizadas apenas para os fins necessários. Prezamos pela transparência e pelo respeito aos seus direitos.
                    </p>
                  </div>
      
                </div>
            </div>
      
            </div>
        </section>
        <section id="services" class="services">
            <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>Principais Serviços</h2>
            </div>
            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Escrituras</a></h4>
                        <p class="description">
                            As escrituras públicas oficializam atos como compra e venda de imóveis, doações e pactos antenupciais, assegurando validade legal e segurança jurídica.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Testamento</a></h4>
                        <p class="description">
                            O testamento é um documento que assegura a última vontade do testador, determinando a distribuição de seus bens após seu falecimento.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>União Estável</a></h4>
                        <p class="description">
                            A escritura de união estável formaliza a convivência do casal, reconhecendo seus direitos e deveres legais sem a necessidade de casamento.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Procurações</a></h4>
                        <p class="description">
                            As procurações permitem que uma pessoa autorize outra a agir em seu nome em diversos negócios e atos legais, conforme os poderes estabelecidos no documento.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Divórcio</a></h4>
                        <p class="description">
                            A escritura de divórcio possibilita a dissolução consensual, rápida e segura do casamento, sem necessidade de ação judicial, desde que não haja filhos menores envolvidos.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Emancipação</a></h4>
                        <p class="description">
                            A escritura de emancipação antecipa a maioridade civil, permitindo que menores a partir de 16 anos pratiquem atos da vida civil sem a autorização dos pais.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Reconhecimento de Firma</a></h4>
                        <p class="description">
                            O reconhecimento de firma confirma a autenticidade da assinatura em documentos, garantindo mais segurança e validade jurídica.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Autenticações</a></h4>
                        <p class="description">
                            A autenticação de cópias assegura que a reprodução de um documento é fiel ao original, conferindo-lhe validade jurídica.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Protestos de Títulos</a></h4>
                        <p class="description">
                            O protesto de títulos é um ato formal que comprova a inadimplência de uma dívida, viabilizando sua cobrança judicial e extrajudicial.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Inventários</a></h4>
                        <p class="description">
                            O inventário extrajudicial é uma forma ágil e consensual de dividir o patrimônio de uma pessoa falecida, com a validação de um tabelião.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Certificados digitias (E-notariado)</a></h4>
                        <p class="description">
                            O certificado digital do e-Notariado possibilita a realização de atos notariais eletrônicos, garantindo segurança jurídica e validade em todo o Brasil.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Atas Notariais</a></h4>
                        <p class="description">
                            As atas notariais são documentos que registram, de maneira imparcial e com fé pública, fatos observados ou verificados pelo tabelião.
                        </p>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Apostilamentos</a></h4>
                        <p class="description">
                            O apostilamento de Haia confere validade internacional a documentos brasileiros, permitindo seu reconhecimento em países signatários da Convenção de Haia.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Usucapião</a></h4>
                        <p class="description">
                            A escritura de usucapião reconhece a aquisição de propriedade por meio da posse contínua e ininterrupta de um bem, conforme os requisitos legais estabelecidos.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pen-nib"></i></div>
                        <h4 class="title"><a>Adjudicação Compulsória</a></h4>
                        <p class="description">
                            A adjudicação compulsória é o ato judicial que transfere a propriedade de um imóvel para quem cumpriu todas as condições de um contrato de compra e venda, mas não obteve a escritura.
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </section> 
        {% include 'contact.html'%}
               
        <a href="https://api.whatsapp.com/send?phone=+556195535937&text=Gostaria%20de%20iniciar%20um%20atendimento&lang=pt_br"
        target="_blank"
        style="font-size:24px;color:white;position:fixed;bottom:0px;left:13px;bottom: 15px;background: green;border-radius: 4px;padding: 2px 8px;">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    {% endif %}

{% endblock content %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        {% if not message %}
            {% if current_user.is_authenticated %}
                {% include 'booking/booking.js' %}
            {% endif %}

            {% include "landingpage.js" %}
            {% include "contact.js" %}
            // Reset pwd
            {% if resetform %}
                {% include 'auth/reset_pwd.js' %}
            {% endif %}
        {% endif %}
    </script>
    
{% endblock %}